.header__container {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #000000;
    box-shadow: 2px 5px 5px rgba(0,0,0,.1);
    .header__container-logo {
        a {
            img {
                width: 90px;
                max-width: 100%;
            }
        }
    }
    .header__container-nav {
        .nav__container {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            > a {
                margin-right: 15px;
                text-decoration: none;
                border: 3px solid $color-primary;
                border-radius: 10px;
                span {
                    color: #ffffff;
                    display: inline-block;
                    margin: 5px 10px;
                }
                &:hover {
                    box-shadow: 2px 5px 5px rgba(0,0,0,.1);
                }
            }
        }
        
    }
    .header__container-cart {
        border: 3px solid $color-primary;
        border-radius: 10px;
        .cart__container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 5px 10px;
            i,span {
                color: #ffffff;
            }
            span {
                font-size:18px;
            }
        }
    }
    
}