.main__container {
    width: 100%;
    .main__container-products {
        h1 {
            color: $color-primary;
        }
        .products__container {
            margin: 50px auto;
            max-width: 80%;
            .card-image {
                img {
                    max-width: 100%;
                }
            }
            .card-content {
                > div {
                    display: flex;
                    justify-content: space-between;
                    h3 {
                        font-size: 18px;
                        margin: 0px;
                        padding: 0px;
                    }
                }

            }
            .card-action {
                .addCard__container {
                    width: 300px;
                    margin: 0 auto;
                    text-align: center;
                    padding-top: 50px;
                    height: auto;
                    .addCard__container-counter {
                        display: flex;
                        .value-button {
                            display: inline-block;
                            border: 1px solid #ddd;
                            margin: 0px;
                            width: 40px;
                            height: auto;
                            text-align: center;
                            vertical-align: middle;
                            padding: 11px 0;
                            background: #eee;
                            -webkit-touch-callout: none;
                            -webkit-user-select: none;
                            -khtml-user-select: none;
                            -moz-user-select: none;
                            -ms-user-select: none;
                            user-select: none;
                            &:hover {
                                cursor: pointer;
                            }
                        }
                        #decrease {
                            margin-right: -4px;
                            border-radius: 8px 0 0 8px;
                        }
                        #increase {
                            margin-left: -4px;
                            border-radius: 0 8px 8px 0;
                        }
                        #input-wrap {
                            margin: 0px;
                            padding: 0px;
                        }
                        input#number {
                            text-align: center;
                            border: none;
                            border-top: 1px solid #ddd;
                            border-bottom: 1px solid #ddd;
                            margin: 0px;
                            width: 40px;
                            height: auto;
                            width: 100%;
                        }
                        input[type=number]::-webkit-inner-spin-button,
                        input[type=number]::-webkit-outer-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }
                    }
                    .addCard__container-submit {
                        width: 100%;
                        button, a {
                            margin-top: 15px;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .main__container-product {
        max-width: 80%;
        margin: 50px auto;
        >div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px 60px;
            .product__container-image {
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    max-width: 100%;
                }
            }
            .product__container-image, .product__container-texts {
                width: 100%;
                .product__container-info {
                    padding: 20px 0px;
                    display: flex;
                    .product__container-price {
                        margin-left: 100px;
                        strong {
                            font-weight: bold;
                        }
                    }
                }
                .card-action {
                    .addCard__container {
                        width: 300px;
                        text-align: center;
                        padding-top: 50px;
                        height: auto;
                        .addCard__container-counter {
                            display: flex;
                            .value-button {
                                display: inline-block;
                                border: 1px solid #ddd;
                                margin: 0px;
                                width: 40px;
                                height: auto;
                                text-align: center;
                                vertical-align: middle;
                                padding: 11px 0;
                                background: #eee;
                                -webkit-touch-callout: none;
                                -webkit-user-select: none;
                                -khtml-user-select: none;
                                -moz-user-select: none;
                                -ms-user-select: none;
                                user-select: none;
                                &:hover {
                                    cursor: pointer;
                                }
                            }
                            #decrease {
                                margin-right: -4px;
                                border-radius: 8px 0 0 8px;
                            }
                            #increase {
                                margin-left: -4px;
                                border-radius: 0 8px 8px 0;
                            }
                            #input-wrap {
                                margin: 0px;
                                padding: 0px;
                            }
                            input#number {
                                text-align: center;
                                border: none;
                                border-top: 1px solid #ddd;
                                border-bottom: 1px solid #ddd;
                                margin: 0px;
                                width: 40px;
                                height: auto;
                                width: 100%;
                            }
                            input[type=number]::-webkit-inner-spin-button,
                            input[type=number]::-webkit-outer-spin-button {
                                -webkit-appearance: none;
                                margin: 0;
                            }
                        }
                        .addCard__container-submit {
                            width: 100%;
                            button, a {
                                margin-top: 15px;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

    }
    .slider__container {
        max-height: 600px;
        overflow: hidden;
        .slider__container-container {
            .portada {
                background-size: cover;
                background-position: center center;
                height: 600px;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .main__container {
        .main__container-products {
            .products__container {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}