.main__container {
    width: 100%;
    .main__container-products {
        h1 {
            color: $color-primary;
        }
        .products__container {
            margin: 50px auto;
            max-width: 80%;
            .card-image {
                img {
                    max-width: 100%;
                }
            }
            .card-content {
                > div {
                    display: flex;
                    justify-content: space-between;
                    h3 {
                        font-size: 18px;
                        margin: 0px;
                        padding: 0px;
                    }
                }

            }
            .card-action {
                .addCard__container {
                    width: 300px;
                    margin: 0 auto;
                    text-align: center;
                    padding-top: 50px;
                    height: auto;
                    .addCard__container-counter {
                        display: flex;
                        .value-button {
                            display: inline-block;
                            border: 1px solid #ddd;
                            margin: 0px;
                            width: 40px;
                            height: auto;
                            text-align: center;
                            vertical-align: middle;
                            padding: 11px 0;
                            background: #eee;
                            -webkit-touch-callout: none;
                            -webkit-user-select: none;
                            -khtml-user-select: none;
                            -moz-user-select: none;
                            -ms-user-select: none;
                            user-select: none;
                            &:hover {
                                cursor: pointer;
                            }
                        }
                        #decrease {
                            margin-right: -4px;
                            border-radius: 8px 0 0 8px;
                        }
                        #increase {
                            margin-left: -4px;
                            border-radius: 0 8px 8px 0;
                        }
                        #input-wrap {
                            margin: 0px;
                            padding: 0px;
                        }
                        input#number {
                            text-align: center;
                            border: none;
                            border-top: 1px solid #ddd;
                            border-bottom: 1px solid #ddd;
                            margin: 0px;
                            width: 40px;
                            height: auto;
                            width: 100%;
                        }
                        input[type=number]::-webkit-inner-spin-button,
                        input[type=number]::-webkit-outer-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }
                    }
                    .addCard__container-submit {
                        width: 100%;
                        button, a {
                            margin-top: 15px;
                            width: 100%;
                        }
                    }
                }
            }
        }
        .main__container-products-clean {
            text-align: center;
            margin-top: 100px;
            p {
                text-align: center;
                font-size: 25px;
                font-weight: 600;
            }
        }
    }
    .main__container-product {
        max-width: 80%;
        margin: 50px auto;    
        >div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px 60px;
            .product__container-image {
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    max-width: 100%;
                }
            }
            .product__container-image, .product__container-texts {
                width: 100%;
                .product__container-info {
                    padding: 20px 0px;
                    display: flex;
                    .product__container-price {
                        margin-left: 100px;
                        strong {
                            font-weight: bold;
                        }
                    }
                }
                .card-action {
                    .addCard__container {
                        width: 300px;
                        text-align: center;
                        padding-top: 50px;
                        height: auto;
                        .addCard__container-counter {
                            display: flex;
                            .value-button {
                                display: inline-block;
                                border: 1px solid #ddd;
                                margin: 0px;
                                width: 40px;
                                height: auto;
                                text-align: center;
                                vertical-align: middle;
                                padding: 11px 0;
                                background: #eee;
                                -webkit-touch-callout: none;
                                -webkit-user-select: none;
                                -khtml-user-select: none;
                                -moz-user-select: none;
                                -ms-user-select: none;
                                user-select: none;
                                &:hover {
                                    cursor: pointer;
                                }
                            }
                            #decrease {
                                margin-right: -4px;
                                border-radius: 8px 0 0 8px;
                            }
                            #increase {
                                margin-left: -4px;
                                border-radius: 0 8px 8px 0;
                            }
                            #input-wrap {
                                margin: 0px;
                                padding: 0px;
                            }
                            input#number {
                                text-align: center;
                                border: none;
                                border-top: 1px solid #ddd;
                                border-bottom: 1px solid #ddd;
                                margin: 0px;
                                width: 40px;
                                height: auto;
                                width: 100%;
                            }
                            input[type=number]::-webkit-inner-spin-button,
                            input[type=number]::-webkit-outer-spin-button {
                                -webkit-appearance: none;
                                margin: 0;
                            }
                        }
                        .addCard__container-submit {
                            width: 100%;
                            button, a {
                                margin-top: 15px;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        .main__container-product-clean {
            text-align: center;
            margin-top: 100px;
            display: block;
            p {
                text-align: center;
                font-size: 25px;
                font-weight: 600;
            }
        }

    }
    .slider__container {
        max-height: 400px;
        overflow: hidden;
        .slider__container-container {
            .portada {
                background-size: cover;
                background-position: center center;
                height: 600px;
            }
        }
    }
    .cart__container {
        margin: 50px auto;
        max-width: 80%;
        display: grid;
        grid-template-columns: 70% 30%;
        column-gap: 2rem;
        .cart__container-listProducts {
            .cart__container-listProductsTitles {
                display: grid;
                grid-template-columns: 55% 15% 15% 15%;
                border-bottom: 2px solid #d6d6d6;
                span {
                    font-weight: 600;
                    text-transform: uppercase;
                }
            }
            .cart__container-listProductsItems {
                display: grid;
                grid-template-columns: 55% 15% 15% 15%;
                border-bottom: 1px solid #d6d6d6;
                align-items: center;
                padding: 2rem 1rem;
                .cart__container-listProductsItemsInfoContainer {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    .cart__container-listProductsItemsRemove {
                        border:2px solid #cccccc;
                        cursor: pointer;
                        width: 30px;
                        height: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;
                        transition: all .4s ease-in-out;
                        -webkit-transition: all .4s ease-in-out;
                        -moz-transition: all .4s ease-in-out;
                        -ms-transition: all .4s ease-in-out;
                        -o-transition: all .4s ease-in-out;
                        span {
                            transition: all .4s ease-in-out;
                            -webkit-transition: all .4s ease-in-out;
                            -moz-transition: all .4s ease-in-out;
                            -ms-transition: all .4s ease-in-out;
                            -o-transition: all .4s ease-in-out;
                        }
                        &:hover {
                            border-color: red;
                            span {
                                color: red;
                            }
                        }
                        span {
                            color: #cccccc;
                            font-size: 12px;
                            font-weight: 600;
                        }
                    }
                    .cart__container-listProductsItemsImage {
                        img {
                            border-radius: 10px;
                            -webkit-border-radius: 10px;
                            -moz-border-radius: 10px;
                            -ms-border-radius: 10px;
                            -o-border-radius: 10px;
                            max-width: 100%;
                            width: 100px;
                        }
                    }
                    
                }
                .cart__container-listProductsItemsPrice,
                .cart__container-listProductsItemsCantidad,
                .cart__container-listProductsItemsTotal {
                    span {
                        font-weight: 600;
                    }
                }
            }
            .cart__container-listProductsButtons {
                margin-top: 20px;
                a {
                    background-color: black;
                    padding: 10px 15px;
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;
                    color: #ffffff;
                    text-transform: uppercase;
                    transition: all .2s ease-in-out;
                    -webkit-transition: all .2s ease-in-out;
                    -moz-transition: all .2s ease-in-out;
                    -ms-transition: all .2s ease-in-out;
                    -o-transition: all .2s ease-in-out;
                    &:hover {
                        background-color: $color-primary;
                        color: #000000;
                    }
                }
            }
        }
        .cart__container-orderList {
            border-left: 1px solid #d6d6d6;
            padding-left: 20px;
            .cart__container-orderListTitle {
                border-bottom: 2px solid #d6d6d6;
                span {
                    font-weight: 600;
                    text-transform: uppercase;
                }
            }
            .cart__container-orderListSubtotalContainer, 
            .cart__container-orderListTotalContainer {
                display: flex;
                justify-content: space-between;
                padding: 15px 0px;
                border-bottom: 1px solid #d6d6d6;
                .cart__container-orderListSubtotalContainerPrice,
                .cart__container-orderListTotalContainerPrice {
                    span {
                        font-weight: 600;
                    }
                }
            }
            .cart__container-orderListTotalButton {
                margin-top: 20px;
                button {
                    width: 100%;
                }
            }
        }
        .cart__container-listProductsEmpty {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            grid-column: 1/3;
            span {
                display: block;
                font-size: 24px;
                font-weight: 600;
            }
            .cart__container-listProductsEmptyButton {
                display: block;
                span {
                    color: $color-primary;
                }
            }
        }
    }
    .main__container-orderConfirm {
        margin: 50px auto;
        max-width: 80%;
        form {
            display: grid;
            grid-template-columns: 70% 30%;
            column-gap: 2rem;
            .orderConfirm__dates {
                .orderConfirm__dates-container {
                    .orderConfirm__dates-container-title {
                        h3 {
                            font-size: 20px;
                            text-transform: uppercase;
                            font-weight: 600;
                        }
                    }
                    .orderConfirm__dates-container-message {
                        margin: 1rem 0;
                        background-color: red;
                        padding: 0.5rem 2rem;
                        p {
                            color: #ffffff;
                        }
                    }
                    .orderConfirm__dates-container-form {
                        .form__container-groupDouble {
                            display: grid;
                            grid-template-columns: repeat(2, 1fr);
                            column-gap: 2rem;
                            input {
                                width: 100%;
                            }
                        }
                    }
                }
            }
            .orderConfirm__detail {
                border-left: 1px solid #d6d6d6;
                padding-left: 20px;
                .cart__container-orderListproducts {
                    .cart__container-listProductsItems {
                        display: grid;
                        grid-template-columns: 70% 30%;
                        align-items: center;
                        padding: 0rem 0rem 2rem;
                        .cart__container-listProductsItemsInfoContainer {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            
                        }
                        .cart__container-listProductsItemsPrice,
                        .cart__container-listProductsItemsCantidad,
                        .cart__container-listProductsItemsTotal {
                            text-align: right;
                            span {
                                font-weight: 600;
                            }
                        }
                    }
                }
                .cart__container-orderListTitle {
                    border-bottom: 2px solid #d6d6d6;
                    span {
                        font-weight: 600;
                        text-transform: uppercase;
                    }
                }
                .cart__container-orderListSubtotalContainer, 
                .cart__container-orderListTotalContainer {
                    display: flex;
                    justify-content: space-between;
                    padding: 15px 0px;
                    border-bottom: 1px solid #d6d6d6;
                    .cart__container-orderListSubtotalContainerPrice,
                    .cart__container-orderListTotalContainerPrice {
                        span {
                            font-weight: 600;
                        }
                    }
                }
                .cart__container-orderListTotalButton {
                    margin-top: 20px;
                    button {
                        width: 100%;
                    }
                }
            }
        }
        .orderConfirm__container-confirm {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            grid-column: 1/3;
            span {
                display: block;
                font-size: 24px;
                font-weight: 400;
                strong {
                    font-weight: 600;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .main__container {
        .main__container-products {
            .products__container {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}