@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;900&display=swap');

$font-primary: 'Poppins', sans-serif;
$color-primary: green;

body {
    margin: 0px;
    padding: 0px;
    font-family: $font-primary;
    @import "header";
    @import "main";
}